@model BlogSystem.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

 <!-- Page Header -->
<header class="masthead" style="background-image: url('/Content/Images/profile.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Your Account</h1>
                    <span class="subheading">Change your account settings</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
    </div>